

@media screen and ( max-width: 870px ) {
    .card-album>.card {
        width: calc( (100% / 4) - 10px);
    }

    .left-footer img {
        display: none;
    }

}

@media screen and ( max-width: 552px ) {
    nav {
        width: 70px;
        justify-content: space-between;
        align-items: center;
    }

    #logo, #menu, #plus, #playlist, #user, nav>.white{
        display: none;
    }

    #ico-small {
        display: block;
    }

    #user-ico {
        display: block;
        width: 100%;
    }

    #ico-small img{ 
        width: 30px;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }

    #user-ico>.profile {
        width: 100%;
    }

    main {
        width: calc( 100% - 70px );
    }

    .card-album {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    /* .card-album>.card{
        flex-basis: 45%;
    } */

    .card-album>.card {
       width: calc( (100% / 2) - 10px);
    }
}


