/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 100%;
    height: calc( 100vh - 100px );
    display: flex;
}

.white {
    color: #fff;
}

.gray {
    color: #5a5a5a;
}
.left-evi {
    border-left: 2px solid greenyellow;
}

/* Nav */
nav {
    width: 200px;
    height: 100%;
    background-color: #000;
    padding: 20px 0;
    color: #5a5a5a;
    display: flex;
    flex-direction: column;
}

#ico-small {
    display: none;
}

#user-ico {
    display: none;
}

#logo {
    width: 70%;
}




nav ul  {
    list-style: none;
    margin: 20px 0;
}

#plus>div {
    display: inline-block;
    color: #000;
    font-size: 30px;
    text-align: center;
    background-color:#a3a3a3;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#plus {
    display: flex;
    align-items: center;
}
nav li, .white, nav>div{
    padding: 5px 20px;
}

li svg {
    width: 20px;
    margin-right: 5px;
}

#playlist {
    flex-grow: 1;
    overflow: auto;
}

#user {
    border: 1px solid pink;

}

#user>div:first-child {
    margin: 10px 0;
    border-bottom: 2px solid #5a5a5a;
    padding-bottom: 10px;
}

.profile {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #5a5a5a;
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.download {
    display: inline-block;
    width: 20px;
}

/* main */
main {
    position: relative;
    width: calc( 100% - 200px );
    height: 100%;
}

#upgrade { 
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 25px 10px;
    background-color: #080b12dc;
    text-align: right;
}

#upgrade button {
    color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    border: 2px solid #fff;
    background-color: #00000000;
    cursor: pointer;
}

#album {
    background-color: #141922;
    height: 100%;
    padding-top: 110px;
    overflow: auto;
}

/* general setting section */
section {
    padding: 15px;
}

/* choice section */
.choice {
    color: #7b7d82;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.choice>span:hover {
    height: fit-content;
    cursor: pointer;
    border-bottom: 1px solid greenyellow;
}

/* recent section */
.recent {
    color: #fff;
}

.song-card {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.song {
    margin-top: 15px;
    width: calc( (100% / 6) - 10px);
    text-align: center;
}

.song img {
    max-width: 100%;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #282828;
    display: flex;
    justify-content: space-between;
}

footer>div {
    height: 100%;
    color: #fff;
}

/* Debug */

#upgrade {
    border: yellow solid 3px;
}

#album {
    border: rgb(0, 255, 30) solid 3px
}

main {
    border: 2px solid violet;
}

footer>div {
    border: 1px dotted yellow;
    width: 200px;
}

#album>section {
    min-height: 100px;
    border: 1px dotted blanchedalmond;
}
